<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Author Meta -->
	<meta name="author" content="colorlib">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Paisajes Costeros</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<!--
	CSS
	============================================= -->
	<link rel="stylesheet" href="~/Content/css/linearicons.css">
	<link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/Content/css/bootstrap.css">
	<link rel="stylesheet" href="~/Content/css/magnific-popup.css">
	<link rel="stylesheet" href="~/Content/css/owl.carousel.css">
	<link rel="stylesheet" href="~/Content/css/main.css">
	<link rel="stylesheet" href="~/Content/css/principal.css">
	<link rel="icon" type="image/x-icon" href="~/Content/icono.ico" />

</head>
<body>
	<section class="banner-area" id="home">
		<!-- Start Header Area -->
		<header class="default-header">
			<nav class="navbar navbar-expand-lg  navbar-light">
				<div class="container">
					<a class="navbar-brand" href="@Url.Action("Index", "Home")">
						<img loading="lazy" src="~/Content/img/logo.png?v=@DateTime.UtcNow.Ticks" alt="">
					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="text-white lnr lnr-menu"></span>
					</button>

					<div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
						<ul class="navbar-nav">
							<li><a href="#home">Home</a></li>
							<li><a href="#patrimonio">Patrimonio Cultural</a></li>
							<li><a href="#quienesSomos">Quienes Somos</a></li>
							<li><a href="#objetivo">Objetivos</a></li>
							<li><a href="#agradecimiento">Agradecimientos</a></li>
							<!-- Dropdown -->
							<li class="dropdown">
								<a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
									Contenido
								</a>
								<div class="dropdown-menu">
									<a class="dropdown-item" href="@Url.Action("GalleryImage", "Home")">Galeria</a>
									<a class="dropdown-item" href="@Url.Action("Video", "Home")">Videos</a>
									<a class="dropdown-item" href="@Url.Action("PDF", "Home")">Documentos</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</header>
		<!-- End Header Area -->
	</section>

	@RenderBody()

	<!-- start footer Area -->
	<footer class="footer-area section-gap py-4">
		<div class="container">
			<div class="row text-center align-items-center">
				<!-- Columna 1: Logo izquierdo -->
				<div class="col-lg-3 col-md-6 mb-3">
					<img src="../Content/img/logosqm.png" alt="Patrocinador 1" class="img-fluid" style="max-height: 100px;">
				</div>

				<!-- Columna 2: Copyright -->
				<div class="col-lg-3 col-md-6 mb-3">
					<p class="footer-text mb-0">
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script><br>Todos los derechos reservados
					</p>
				</div>

				<!-- Columna 3: Redes sociales -->
				<div class="col-lg-3 col-md-6 mb-3">
					<h6>Síguenos</h6>
					<p class="mb-2">Visita nuestras redes sociales</p>
					<div class="footer-social d-flex justify-content-center gap-3">
						<a target="_blank" href="https://web.facebook.com/profile.php?id=61558443971620"><i class="fa fa-facebook"></i></a>
						<a target="_blank" href="https://www.instagram.com/paisajes_costeros/?utm_source=ig_web_button_share_sheet"><i class="fa fa-instagram"></i></a>
					</div>
				</div>

				<!-- Columna 4: Logo derecho -->
				<div class="col-lg-3 col-md-6 mb-3">
					<img src="../Content/img/logocorp.png" alt="Patrocinador 2" class="img-fluid" style="max-height: 100px;">
				</div>
			</div>
		</div>
	</footer>


	<!-- End footer Area -->




	<div style="position: fixed; bottom: 20px; right: 20px; z-index: 1000;">
		<a id="whatsapp-link" href="#" target="_blank" rel="noopener noreferrer">
			<img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" style="width: 60px; height: 60px; border-radius: 50%; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);">
		</a>
	</div>


	<script src="~/Content/js/vendor/jquery-2.2.4.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
	<script src="~/Content/js/vendor/bootstrap.min.js"></script>
	<script src="~/Content/js/jquery.ajaxchimp.min.js"></script>
	<script src="~/Content/js/jquery.magnific-popup.min.js"></script>
	<script src="~/Content/js/owl.carousel.min.js"></script>
	<script src="~/Content/js/jquery.sticky.js"></script>
	<script src="~/Content/js/slick.js"></script>
	<script src="~/Content/js/jquery.counterup.min.js"></script>
	<script src="~/Content/js/jquery.magnific-popup.min.js"></script>
	<script src="~/Content/js/waypoints.min.js"></script>
	<script src="~/Content/js/main.js"></script>


	<script>
		const isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
		const link = document.getElementById('whatsapp-link');
		const phoneNumber = '56975758832';

		if (isMobile) {
			link.href = 'https://wa.me/' + phoneNumber;
		} else {
			link.href = 'https://web.whatsapp.com/send?phone=' + phoneNumber;
		}
	</script>
</body>
</html>
